:root {
  --main-blue: #0067ba;
  --main-white: #fcfcfc;
  --gray: #d5d5d5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-white);
}

h1,
h4,
h5 {
  font-weight: 700;
}

h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--main-blue);
}

p {
  color: #8f8f8f;
}

section {
  margin-bottom: 4vh;
}

ol li {
  padding: 1vh 0;
}

footer {
  text-align: center;
  background-color: var(--main-blue);
}

footer p {
  margin: 0;
  padding: 2vh 0;
  color: var(--gray);
}

/* Headings */

.big-heading,
.sub-heading {
  font-size: 2rem;
}

/* Partners */

.partners .col {
  text-align: center;
  justify-content: center;
}
.partners img {
  width: 80px;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Main Section */

#main {
  background-color: var(--main-blue);
  color: #fff;
  text-align: center;
}

#main .container {
  padding: 2vh 15vw 0;
}

#main .dog-image {
  width: 100%;
}

/* Card */

.card {
  margin: 0.5vh 0;
}

.card img {
  height: 150px;
  width: 100%;
}

/* Vacina Section */

.table th {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.table td {
  vertical-align: middle;
}

/* Contato Section */

.contact-container {
  margin-bottom: 2.5vh;
}

.btn-submit {
  background-color: var(--main-blue);
  border: none;
  width: 150px;
}

.error-message {
  font-size: 0.85rem;
  color: #dc3545;
}

/* Footer Section */

.social-icon {
  font-size: 1.3rem;
  color: var(--gray);
  margin: 3vh 4vw 0;
}

@media (min-width: 768px) {
  .navbar-collapse {
    justify-content: end;
  }

  #main {
    text-align: left;
  }

  #main .container {
    padding: 2vh 10vw 0;
  }

  .big-heading,
  .sub-heading {
    font-size: 2.7rem;
  }

  .container-fluid {
    padding: 0 10vw;
  }
}
