:root {
  --green: #19b763;
  --opacity-green: #19b76315;
  --white: #fcfcfc;
  --gray: #d5d5d5;
  --dark-gray: #8f8f8f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

h1,
h4,
h5 {
  font-weight: 700;
}

h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--green);
}

p,
li {
  color: var(--dark-gray);
}

section {
  margin-bottom: 4vh;
}
ol {
  background-color: var(--opacity-green);
  border-radius: 20px;
}
ol li {
  padding: 1vh 0;
}

footer {
  text-align: center;
  background-color: var(--green);
}

footer p {
  margin: 0;
  padding: 1.5vh 0;
  color: var(--gray);
}

/* Headings */

.main-heading {
  font-size: 2rem;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

.toggler-icon {
  color: var(--white);
  font-size: 1.5rem;
}

/* Main Section */

#main {
  background: rgba(0, 0, 0, 0.4)
    url(https://images.pexels.com/photos/38280/monkey-mandril-africa-baboon-38280.jpeg?auto=compress&cs=tinysrgb&w=400);
  background-blend-mode: darken;
  background-size: 100vw;
  color: var(--white);
  min-height: 524px;
  text-align: center;
  padding: 3vh 0;
}

/* Card */

.card {
  height: 435px;
  margin: 0.5vh 0;
  border-radius: 20px;
}

.card-title {
  text-transform: capitalize;
  color: var(--green);
}

.card img {
  border-radius: 20px 20px 0 0;
  height: 165px;
  width: 100%;
}

/* Vacina Section */

.table th {
  background-color: var(--green);
  color: var(--white);
}

.table td:nth-child(2) {
  vertical-align: middle;
  text-align: center;
}

/* Contato Section */

.btn-submit {
  background-color: var(--green);
  border: none;
  width: 150px;
}

.error-message {
  font-size: 0.85rem;
  color: #dc3545;
}

#verification {
  border-radius: 15px;
  display: none;
  padding: 1.5vh 1vw;
  margin-bottom: 2vh;
  background-color: var(--opacity-green);
}

#verification p {
  color: var(--green);
  margin: auto 0;
}

/* Footer Section */

.social-icon {
  font-size: 1.3rem;
  color: var(--gray);
  margin: 3vh 4vw 0;
}

@media (min-width: 768px) {
  .navbar-collapse {
    justify-content: end;
  }

  #main {
    background: rgba(0, 0, 0, 0.3)
      url(https://images.pexels.com/photos/247376/pexels-photo-247376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-blend-mode: darken;
    background-size: cover;
    text-align: left;
  }

  #main .container {
    padding: 2vh 10vw 0;
  }

  .main-heading {
    font-size: 2.7rem;
  }

  .container-fluid {
    padding: 0 10vw;
  }
}
