:root {
  --main-blue: #0067ba;
  --main-yellow: #fbbd55;
  --main-white: #fcfcfc;
  --gray: #d5d5d5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-white);
}

h1,
h4,
h5 {
  font-weight: 700;
}
p {
  color: #8f8f8f;
}
section {
  margin-bottom: 4vh;
}
ol li {
  padding: 1vh 0;
}
/* Headings */

.big-heading,
.sub-heading {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.3;
}

/* Partners */

/* .partners {
  margin: 1vh 0;
} */
.partners .col {
  text-align: center;
  justify-content: center;
}
.partners img {
  width: 80px;
}
/* Sections */

.colored-section {
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Buttons */

.pets-button,
.adopt-button {
  margin: 0.5vh 0 0.5vh 0;
  width: 220px;
}

/* Title Section */

#title {
  background-color: var(--main-blue);
  color: #fff;
  text-align: center;
}

#title .container {
  padding: 2vh 15vw 0;
}

/* Title Image */

.title-image {
  width: 100%;
  /* max-width: 800px; */
  /* transform: rotate(25deg); */
  /* position: absolute; */
  bottom: 0;
  /* right: 0; */
  /* right: 30%; */
}

/* Card */
.card {
  margin: 0.5vh 0;
}
.card img {
  height: 150px;
  width: 100%;
}

/* Animais Section */

.titles {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--main-blue);
}

/* Como Adotar Section */

/* Tabela Vacina Section */
.table th {
  background-color: var(--main-blue);
  color: var(--main-white);
}
.table td {
  vertical-align: middle;
}

/* Contato Section */

.contact-container {
  margin-bottom: 2.5vh;
}
.btn-enviar {
  text-align: center;
}
.btn-primary {
  background-color: var(--main-blue);
  border: none;
  width: 150px;
}

/* Footer Section */

#footer {
  text-align: center;
  background-color: var(--main-blue);
}
#footer p {
  font-size: 0.8rem;
  margin: 0;
  padding: 1vh 0;
  color: var(--gray);
}

.social-icon {
  font-size: 1.3rem;
  color: var(--gray);
  margin: 3vh 4vw 0;
}

/* @media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
} */
@media (min-width: 768px) {
  .big-heading,
  .sub-heading {
    font-size: 3rem;
  }
  #title {
    text-align: left;
  }
  #title .container {
    padding: 2vh 10vw 0;
  }
  .navbar-collapse {
    justify-content: end;
  }
  .container-fluid {
    padding: 0 10vw;
  }
}
